{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="login-background"
     style="background: url('{% static 'images/background_register.jpg' %}') no-repeat center center;
            background-size: cover;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;">
  <form method="post" class="login-form p-4 rounded bg-dark bg-opacity-75 text-white" style="min-width: 320px; max-width: 400px; width: 100%;">
    <h1 class="mb-4 text-center">Регистрация</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-warning w-100">Регистрирай се</button>

    <p class="mt-3 text-center">
      Вече имаш акаунт?
      <a href="{% url 'login' %}" class="text-warning">Вход</a>
    </p>
  </form>
</div>
{% endblock %}
